# Anthropic API Configurations
ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=claude-haiku-4-5-20251001

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=llm-code-review-agent

# MLFLOW_TRACKING_URI=sqlite:///mlflow.db

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-south-2

CHROMA_DB_DIR=./chroma_db

MLFLOW_TRACKING_URI=https://dagshub.com/krishnapole90/llm-code-review-agent.mlflow
MLFLOW_TRACKING_USERNAME=krishnapole90
MLFLOW_TRACKING_PASSWORD=

HF_TOKEN=